apiVersion: v1
kind: Service
metadata:
  name: llama-swappo-halo
  namespace: default
  labels:
    app: llama-swappo-halo
spec:
  type: ClusterIP
  ports:
  - port: 8080
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: llama-swappo-halo
